.agreement{
    height: 100%;
    padding-top: 1px;
    p{
        margin-top: 50vh;
        transform: translateY(-50%);
        font-size: 0.85rem;
        color: #ff5000;
        text-align: center;
    }
}

